<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>Controlador.controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validar</servlet-name>
        <servlet-class>Controlador.validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingresar</servlet-name>
        <servlet-class>Controlador.ingresar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregar</servlet-name>
        <servlet-class>Controlador.agregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminar</servlet-name>
        <servlet-class>Controlador.eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrar</servlet-name>
        <servlet-class>Controlador.borrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validar</servlet-name>
        <url-pattern>/validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingresar</servlet-name>
        <url-pattern>/ingresar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregar</servlet-name>
        <url-pattern>/agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminar</servlet-name>
        <url-pattern>/eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrar</servlet-name>
        <url-pattern>/borrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
